---
import '../styles/global.css';
---

<header class="bg-white py-8 text-center shadow-md">
    <h1 class="text-text-primary text-4xl font-bold mb-4">Bordados Artesanales</h1>
    <p class="text-text-primary text-lg">Descubre nuestra colección de bordados únicos y hermosos</p>
</header> 